<div class="wrapper">
  <div class="row">
    <div class="col-12 col-md-6 d-none d-md-block">
      <div class="info-img">
        <div class="back-icon" (click)="goBackPage()">
          <span class="icon fa fa-arrow-left"></span>
        </div>
        <div class="img">
          <img src="assets/images/signup-bg-3.jpg" alt="" />
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-5 mb-5">
      <div class="my-5 my-md-0">
        <div class="content px-5">
          <div class="title">
            <h1>Join Blogvio.</h1>
          </div>
          <div class="mt-1" style="width: 100%">
            <div class="h-1 mx-auto w-1 opacity-25 rounded-t"></div>
          </div>
          <ul class="list-group list-group-flush mt-5">
            <li class="list-group-item p-4">
              <div class="row">
                <div class="col">
                  <form [formGroup]="registerForm">
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input
                          type="text"
                          id="name"
                          class="form-control mt-2"
                          placeholder="Your Name"
                          formControlName="name"
                          [class.invalid-input]="registerForm.get('name').dirty && registerForm.get('name').invalid"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label for="email">Email</label>
                        <input
                          type="text"
                          id="email"
                          class="form-control mt-2"
                          placeholder="your@email.com"
                          formControlName="email"
                          [class.invalid-input]="registerForm.get('email').dirty && registerForm.get('email').invalid"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label for="password">Password</label>
                        <input
                          type="password"
                          id="password"
                          class="form-control mt-2"
                          placeholder="Password"
                          formControlName="password"
                          [class.invalid-input]="registerForm.get('password').dirty && registerForm.get('password').invalid"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label for="conPassword">Confirm Password</label>
                        <input
                          type="password"
                          id="conPassword"
                          class="form-control mt-2"
                          placeholder="Password"
                          formControlName="confPassword"
                          [class.invalid-input]="registerForm.get('confPassword').dirty && registerForm.get('confPassword').invalid"
                        />
                      </div>
                    </div>
                    <div class="submit-btn mt-3">
                      <a
                        type="submit"
                        (click)="submitForm()"
                        class="btn btn-lg btn-block btn-dark"
                      >
                        <span *ngIf="!loadingSpinner">Register</span>
                        <span
                          *ngIf="loadingSpinner"
                          class="spinner-border spinner-border-sm"
                          aria-hidden="true"
                          role="status"
                        >
                        </span>
                      </a>
                    </div>
                  </form>
                  <div class="link-info mt-5">
                    <p>
                      Already a Member? <a routerLink="/login">Login here.</a>
                    </p>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
